body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe4c4; /* Цвет сладости */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Шапка */
header {
    background: #ff6f61; /* Розовый цвет */
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Секции */
section {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Галерея */
.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Подвал */
footer {
    text-align: center;
    padding: 10px;
    background: #ff6f61;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
